#home {
  padding: 2rem 0;
}
#home h1 {
  color: #c3dbc5;
}
p {
  margin: 10px 20px 20px;
  color: aliceblue;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  gap: 15px;
  margin: 0 auto;
  grid-template-areas: "image1";
  padding: 2rem;
  /* background-color: #c3dbc5; */

  width: 90%;
  justify-content: space-between;

  background-image: linear-gradient(
      to bottom,
      rgba(98, 0, 128, 0.108),
      rgba(0, 0, 255, 0.206)
    ),
    url("../assets/3.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  height: 80vh;
  flex-wrap: wrap;
}
.image-containerx {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  background-color: burlywood;
  height: 80vh;
  padding: 2rem 5rem;
  justify-content: center;
  gap: 1rem;
}

.img-ctn {
  width: 100%;
}
.image1 {
  background-color: rgb(22, 10, 3);
  /* grid-area: image1 image1 image1; */
  /* object-fit: cover; */
  width: 100%;
  height: 35vh;
  transition: ease-in-out 0.35s;
  border-radius: 4px;
}
.image1:hover {
  transform: scale(1.12);
  cursor: move;
  box-shadow: 0.5px 1px 1px 3px #0d1b1e;
}

.footer {
  color: #c3dbc5;
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  margin: 0 auto;
}
.footer p {
  text-align: center;
  margin: 0 auto;
}

/* NAV STYLING */

nav {
  position: absolute;
  top: 2rem;
  right: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.25rem;
  width: max-content;
  align-items: center;
  gap: 1rem;
}
#searchbar {
  width: 20vw;
  display: flex;
  align-items: center;
}
#searchbar input {
  padding: 0.5rem;
  width: 100%;
  border-radius: 4px;

  border: none;
}
#searchbar input:focus {
  border: 1px solid #0d1b1e;
}

#searchbar .icon{
  transform: scale(1.2);
  margin-left: -2rem;
cursor: pointer;
}

nav .loglink {
  color: #c3dbc5;
  padding: 0.25rem 1rem;
  text-decoration: underline;
}

@media screen and (max-width: 850px) {
  .image-container {
    display: gris;
    padding: 4rem 1rem;
    width: 100vw;
    height: max-content;
    grid-template-columns: repeat(2, 1fr);
  }
  .image-containerx {
  }
  #searchbar {
    position: absolute;
    top: 5rem;
    right: 25vw;
    width: 50vw;
  }
  nav .link {
    position: absolute;
    top: -1.5rem;
    right: 5vw;
    font-size: 14px;
  }

}

@media screen and (max-width: 370px) {
#searchbar {
    position: absolute;
    top: 10rem;
    right: 25vw;
    width: 45vw;
  }

  nav .link {
    position: absolute;
    top: -1.5rem;
    right: 5vw;
    font-size: 12px;
  }

}


