* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#login {
  background-color: #c3dbc5;
  width: max-content;
  margin: 15% auto;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 6px;
}
#login p {
  font-size: 24px;
  font-weight: bold;
  color: #0d1b1e;
margin: 0 auto;
}

.error {
  /* display: none; */
  color: red;
  font-size: 12px;
margin-top: 80px;
}
#login form {
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
form label {
  width: 100%;
  position: relative;
}

form input {
  width: 100%;
  margin: 0 auto;
  padding: 0.25rem 0.5rem;
  font-size: 16px;
  border-radius: 4px;
  background: #eaf6eba1;
}
form input:focus {

  outline-color: #0d1b1e;
}

.input-icon {
  position: absolute;
  right: 5%;
  top: 5px;
  transform: scale(.8);
}

form button,
.link {
  width: max-content;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #0d1b1e;
  color: #c3dbc5;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}
form button:hover,
.link:hover {
  color: #0d1b1e;
  background-color: #c3dbc5;
  border: 1px solid #0d1b1e;
}
.link {
  text-decoration: none;
}

